@font-face {
    font-family: "Fonte-Grega";
    src:url("../Fontes/DalekPinpointBold.ttf")
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}

h1 {
    position: relative;
    left: 80px;
}


body {
    /* Fundo */
    background-image: url("../Images/Wallapaper de Padrão transparente.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    width: 1024px;
    height: 1024px;

    background-color: lightgrey;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    width: 1024px;
    height: 1024px;
    }


#Logo-Zeus {
    width: 930px;
    display: block;
   position: relative;
    left: 510px;
    border: 3px solid #ff0000;
}    

#Ornamento-Dourado1 {
    display: flex;
    margin-left: -800px;
    justify-content: start;
    width: 1024px;
    height: 80px;
    
}

#Ornamento-Dourado2 {
    display: flex;
    margin-left: 0px;
    justify-content: start;
    width: 1024px;
    height: 80px;
}

#Barra-Guia ul {
    /* Barra */
    list-style-type: none;
    margin: 0 180px;
    
    position: relative;
   
   /* display: inline-flex;*/
   /* justify-content: space-around;*/
    align-items: center;
    align-self: center;
    width: 1580px;
    /*height: 80px;*/
    background: #30BCED;
    border: 2px solid #27476E;
    box-shadow: 0px 4px 4px #27476E;
}
#Barra-Guia ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

#Menu-Início {
    /* Botão */
    display: flex;
    justify-content: center;
    width: 95px;
    height: 45px;

    background: #FFDD00;
    box-shadow: 4px 4px 4px 2px #27476E;

    /* Início */
    width: 120px;
    height: 50px;

    font-family: 'Fonte-grega';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
}

#Menu-Genealogia {
    /* Botão */
    display: flex;
    justify-content: center;
    width: 170px;
    height: 45px;

    background: #FFDD00;
    box-shadow: 4px 4px 4px 2px #27476E;
    
    /* Texto */
    width: 230px;
    height: 50px;

    font-family: 'Fonte-Grega';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
}

#Menu-Indicações {
    /* Botão */
    display: flex;
    justify-content: center;
    width: 230px;
    height: 50px;

    background: #FFDD00;
    box-shadow: 4px 4px 4px 2px #27476E;
    
    /* Texto */
    justify-content: center;
    width: 230px;
    height: 50px;

    font-family: 'Fonte-Grega';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
}

#Menu-Perfil {
    /* Botão */
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 50px;

    background: #FFDD00;
    box-shadow: 4px 4px 4px 2px #27476E;

    /* Texto */
    justify-content: center;
    width: 230px;
    height: 50px;

    font-family: 'Fonte-Grega';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
}

#Início {
    margin-left: 450px;
    margin-top: -200px;
    display: flex;
    align-items: center;
    background:#30BCED;
    border: 2px solid #27476E;
    box-shadow: 4px 4px 4px 2px #27476E;
    width: 910px;    
    height: 650px;

}

#Início a {
    text-decoration: none;
    color: #FFFFFF;
}

#apresentacao {
    font-family: "Fonte-Grega";
    font-size: 21px;
    width: 400px;
    height: 620px;
    color: #FAFBD5;

    position: relative;
    left: 500px;
}

#Zeus-Pinterest {
    /* zeus pinterest 1 */  
    margin-left: 15px;  
    display: block;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 610px;

}

#genealogia {
    /* Fundo */
    display: table-column;
    margin-left: 450px;
    margin-top: 100px;
    box-sizing: border-box;
    position: absolute;
    width: 910px;
    height: 2350px;
    background: #30BCED;
    border: 2px solid #27476E;
    box-shadow: 4px 4px 4px #27476E;
    
    font-family: 'Fonte-Grega';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: #FAFBD5;
}

#Texto-Começo {
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    width: 850px;
    height: 100px;
}

#Olimpo {
    margin-top: 140px;
    display: flex;
    justify-content: center;
}
#Texto-Olimpo {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 850px;
    height: 100px;
}

#Ceos-e-Febe {
    margin-top: 230px;
    display: flex;
    justify-content: center;
}

#Texto-Ceos-e-Febe {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 850px;
    height: 100px;
}

#Japeto {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#Texto-Japeto {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 850px;
    height: 100px;
}

#genealogia a {
    color:#FFFFFF
}

#indicacoes {
    /* Fundo */
    display: table-column;
    margin-left: 450px;
    margin-top: 2580px;
    box-sizing: border-box;
    position: absolute;
    width: 910px;
    height: 5950px;
    background: #30BCED;
    border: 2px solid #27476E;
    box-shadow: 4px 4px 4px #27476E;

    font-family: 'Fonte-Grega';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: #FAFBD5;
}
#indicacoes ul {
    list-style: none;
}

#indicacoes a {
    color:#FFFFFF
}

#texto-indicacoes {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    position: absolute;
    width: 850px;
    height: 100px;
}

#indicacoes-p1 {
    margin-bottom: 20px;
}

#indicacoes-p2 {
    margin-top: 20px;
}

#indicacoes-p3 {
    margin-top: 20px;
}

#perfil {
    /* Fundo */
    margin-top: 8650px;
    margin-left: 450px;
    box-sizing: border-box;
    position: absolute;
    width: 910px;
    height: 720px;
    background: #30BCED;
    border: 2px solid #27476E;
    box-shadow: 4px 4px 4px #27476E;
    
    font-family: 'Fonte-Grega';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: #FAFBD5;
}

#perfil ul {
    list-style: none;
}

#foto-perfil {
    margin-left: 15px;
    margin-top: 20px;
}

#contatos {
    display: block;
    position: relative;
    margin-left: 400px;
    margin-top: -680px;
    display: flex;
    font-family: 'Fonte-Grega';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: #FAFBD5;
}

#contatos a {
    text-decoration: none;
    color: #FFFFFF;
}

#sobre-mim {
    position: relative;
    top: -50px;
}

#logo-whatsapp {
    margin-left: -25px;
    margin-top: 25px;
    margin-bottom: -20px;
}

#links-contato {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    position: relative;
    bottom: -10px;
    line-height: 75px;
}

#Detalhes-Base {
    display: flex;
    margin-top: 9500px;
}

#Ornamento-Dourado3 {
    display: flex;
    margin-left: 0px;
    justify-content: end;
    width: 1024px;
    height: 80px;
}

#Ornamento-Dourado4 {
    display: flex;
    margin-left: 0px;
    justify-content: end;
    width: 1024px;
    height: 80px;
}